.annotation-tag {
    display:inline-block;
    padding:0 8px;
    margin:1px 1px 1px 1px;
    line-height:1.6;
    background-color:#bebebe;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -o-border-radius:8px;
    border-radius:8px;
    font: 80%;
}

.annotation-tag .caret {
    cursor: pointer;
    margin-right: 3px;
}
