g.selected circle {
    stroke: #000 !important;
}
path.link {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
    cursor: default;
}
path.link.hidden {
    stroke-width: 0;
}
circle.node:hover {
    stroke-width: 1.5px;
    cursor: pointer; ;
}
path.link.dragline {
    pointer-events: none;
}

.brush .extent {
    fill-opacity: .1;
    stroke: #fff;
    shape-rendering: crispEdges;
}