.notification {
    color: #fff;
    position: absolute;
    position: fixed;
    top: -54px;
    left: 0;
    width: 100%;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    border-bottom: 4px solid #d4d4d4;
    -webkit-transition: top 0.4s ease-out;
    -moz-transition: top 0.4s ease-out;
    -o-transition: top 0.4s ease-out;
    transition: top 0.4s ease-out;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.notification-success {
    top: 0;
    background: rgb(76, 180, 109);
}

.notification-info {
    top: 0;
    background: rgb(76, 126, 180);
}

.notification-error {
    top: 0;
    background: rgb(218, 19, 52);
}
