.ui-widget-header {
    background: #C5CEFF; !important
}

.ui-widget.ui-dialog {
    padding: 0;
}
.ui-dialog-titlebar {
    border-radius: 0 !important;
}

#page_header {
    padding: 0px;
    margin: 0px;
    /*background: url('../img/board-frame-dark.jpg') repeat-x;*/
    width: 100%;
    height: 40px;
    background-color: #4D6CBB;
}

.ui-dialog-content {
    overflow: scroll;
}


#progressbar {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    margin: 0 0 0 -150px;
}
.progress-label {
    position: absolute;
    left: 45%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }

html, body {
    font: 12px Sans serif;
    /*background-image: url('../img/board-lg.jpg');*/
/*    position: relative;
*/
}
