.accordion .ui-accordion-header {
    margin: 0px;
}
.accordion button.editbtn {
    float: right;
}

.accordion-body {
    height: 300px;
}

.accordion-body .header {
    width: 100%;
    height: 1.5em;
    font-weight: bold;
}
.accordion-body .header:before {
    content: url('../img/indicator.png');
    margin-right: 1em;
}
.ui-accordion .ui-accordion-content {
    padding: 0 0 0 0; !important
}

#workbench {
    padding: 0 0 0 0; !important
}

.jqte {
    margin: 0em 0em;
    border: 0px;
    height: 100%;
    overflow: scroll;
    font-size:20px; !important
}

#contextmenu {
    z-index:999;
    display:none;
}

.question {
    background: rgba(255, 144, 55, .5);
}
.claim {
    background: rgba(102, 163, 180, .5);
    margin-left: 4em; !important
}
.evidence {
    background: rgba(255, 253, 115, .5);
    margin-left: 8em; !important
}
.conclusion {
    background: rgba(138, 120, 215, .5);
}

