.accordion .ui-accordion-header {
    margin: 0px;
}
.accordion button.editbtn {
    float: right;
}

.accordion-body {
    height: 300px;
}

.accordion-body .header {
    width: 100%;
    height: 1.5em;
    font-weight: bold;
}
.accordion-body .header:before {
    content: url('../img/indicator.png');
    margin-right: 1em;
}

.jqte {
    margin: 1em 2em;
    display: none;
}
.accordion-body .rich_editor {
}

.accordion-body .text_viewer {
    font-weight: normal;
    margin-left: 3em;
}
.accordion-body .text_viewer:before {
    content: url('../img/evidence.png');
    margin-right: 1em;
}


