{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>{% block title %}Dashboard{% endblock %}</title>

        <!-- jquery & jquery UI -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/jquery-ui-1.10.3/minimized/jquery-ui.min.css' %}">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        {% block extralib %}{% endblock %}
    </head>
    <body>
        <div id="page_header">
        {% block page-header %}
        {% endblock %}
        </div>
        <div id="page_body">
        {% block page-body %}
        {% endblock %}
        </div>
    </body>
</html>
