{% load static %}
{% block extralib %}
<script type="text/javascript" language="javascript" src="{% static 'dashboard/lib/DataTables-1.9.4/media/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'dashboard/lib/DataTables-1.9.4/plugin/ColReorderWithResize.js' %}"></script>
<!--        <link rel="stylesheet" type="text/css" href="lib/DataTables-1.9.4/media/css/jquery.dataTables.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/lib/DataTables-1.9.4/media/css/demo_table_jui.css' %}"> 

<script type="text/javascript" language="javascript" src="{% static 'dashboard/js/event_table.js' %}"></script>
{% endblock %}

<table id="message_table" class="hidden">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Content</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<table id="person_table" class="hidden">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Race</th>
            <th>Nationality</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<table id="organization_table" class="hidden">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<table id="resource_table" class="hidden">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Desc</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
