{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% load compress %}

{% block extralib %}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.5/d3.js" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'dashboard/lib/crossfilter-1.2.0/crossfilter.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/lib/jquery-tiny-pubsub/dist/ba-tiny-pubsub.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/lib/jquery-dialogextend-2.02/build/jquery.dialogextend.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/theme.css' %}">
<script type="text/javascript" src="{% static 'dashboard/js/wb.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/utility.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/vizbase.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/layout.js' %}"></script>
{% compress js %}
<script type="text/javascript" src="{% static 'dashboard/js/activitylog.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/main.js' %}"></script>
{% endcompress %}

<script language='javascript'>var STATIC_URL = "{{ STATIC_URL|escapejs }}";</script>
{% endblock %}

{% block page-header %}
    {% include 'dashboard/page_header.html' %}
{% endblock %}
{% block page-body %}
    {% include 'dashboard/table.html' %}
    {% include 'dashboard/timeline.html' %}
    {% include 'dashboard/map.html' %}
    {% include 'dashboard/network.html' %}
    {% include 'dashboard/workbench.html' %}
    <div id="display_dialogs" style="display:none">
        {% for d in dialogs %}{% if not forloop.first %},{% endif %}{{d}}{% endfor %}
    </div>

    <div id="progressbar"><div class="progress-label">Loading...</div></div>
{% endblock %}
