{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% load compress %}
{% load drealtimetags %}

{% block extralib %}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.5/d3.js" charset="utf-8"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.7/crossfilter.js"></script>
<script type="text/javascript" src="{% static 'dashboard/lib/jquery-tiny-pubsub/dist/ba-tiny-pubsub.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/lib/jquery-dialogextend-2.02/build/jquery.dialogextend.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/lib/jquery.form.min.js' %}"></script>

<!-- for map -->
<script type="text/javascript" language="javascript" src="{% static 'dashboard/lib/OpenLayers-2.13.1/OpenLayers.js' %}"></script>
<script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
<!-- end for map -->


<!-- enjoyhint library -->
<script src="{% static 'dashboard/lib/enjoyhint/enjoyhint.js' %}"></script>
<link href="{% static 'dashboard/lib/enjoyhint/enjoyhint.css' %}" rel="stylesheet">
<!-- <script src="{% static 'dashboard/lib/d3&#45;tip/d3&#45;tip.js' %}"></script> -->

<!-- scroll jquery plugin -->
<script src="{%static 'dashboard/lib/jquery-scrollto/lib/jquery-scrollto.js'%}"></script>
<script src="{%static 'dashboard/lib/datetimepicker/jquery.datetimepicker.js'%}"></script>
<link href="{% static 'dashboard/lib/datetimepicker/jquery.datetimepicker.css' %}" rel="stylesheet">

<!-- for annotation -->
<script src="{% static 'annotator/lib/util.js' %}"></script>
<script src="{% static 'annotator/lib/console.js' %}"></script>
<script src="{% static 'annotator/lib/class.js' %}"></script>
<script src="{% static 'annotator/lib/range.js' %}"></script>
<script src="{% static 'annotator/lib/annotator.js' %}"></script>
<script src="{% static 'annotator/lib/widget.js' %}"></script>
<script src="{% static 'annotator/lib/editor.js' %}"></script>
<script src="{% static 'annotator/lib/viewer.js' %}"></script>
<script src="{% static 'annotator/lib/notification.js' %}"></script>
<script src="{% static 'annotator/lib/xpath.js' %}"></script>
<script src="{% static 'annotator/lib/plugin/store.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'annotator/lib/plugin/tags.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'annotator/css/annotator.css' %}">
<script src="{% static 'dashboard/lib/selectize.js/dist/js/standalone/selectize.js' %}"></script>
<link rel="stylesheet" type="ext/css" href="{% static 'dashboard/lib/selectize.js/dist/css/selectize.css' %}">
<script type="text/javascript" language="javascript" src="{% static 'dashboard/lib/DataTables-1.9.4/media/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'dashboard/lib/DataTables-1.9.4/plugin/ColReorderWithResize.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/lib/jEditable/jquery.jeditable.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'dashboard/js/usng.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'dashboard/lib/ckeditor-4.4.3/ckeditor.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/lib/bootstrap-notify/bootstrap-notify.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/lib/jquery.cookie.js' %}"></script>
<!-- <script type="text/javascript" language="javascript" src="{% static 'dashboard/lib/ckeditor-4.3/core/loader.js' %}"></script> -->
<!-- <link rel="stylesheet" type="ext/css" href="{% static 'dashboard/lib/ckeditor-4.3/styles.css' %}"> -->
<!-- end for annotation -->

{% compress js %}
<script type="text/javascript" src="{% static 'dashboard/js/wb.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/utility.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/vizbase.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/activitylog.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/notepad.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/table.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/timeline.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/map.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/network.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/message.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/history.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/help.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/main.js' %}"></script>
{% endcompress %}

{% compress css %}
<link href="{% static 'dashboard/lib/bootstrap-notify/bootstrap-notify.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/theme.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/table.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/timeline.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/map.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/network.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/message.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/history.css' %}">
{% endcompress %}

{% endblock %}

{% block page-header %}
    {% include 'dashboard/page_header.html' %}
    <div class='notifications top-right'>
    </div>
{% endblock %}
{% block page-body %}
    <!-- Global variable STATIC_URL -->
    <script language='javascript'>
        STATIC_URL = "{{ STATIC_URL | escapejs }}";
        PREFIX_URL = "{{ PREFIX_URL | escapejs }}";
        wb.profile.user    = {{ user.id }};
    </script>

    <div id="display_dialogs" style="display:none">
        {% for d in dialogs %}{% if not forloop.first %},{% endif %}{{d}}{% endfor %}
    </div>

    <div id="progressbar" style="display:none;"><div class="progress-label">Updating Data...</div></div>

    <!-- for sync -->
    {% ishout_js %}
    <script src="{% static 'sync/static/sync.js' %}"></script>

{% endblock %}
