{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% load compress %}

{% block extralib %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/layout.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/theme.css' %}">
<script type="text/javascript" src="{% static 'dashboard/js/SIIL.js' %}"></script>
<!-- crossfilter for coordinated view -->
<script type="text/javascript" src="{% static 'dashboard/lib/d3-3.1.10/d3.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/lib/crossfilter-1.2.0/crossfilter.js' %}"></script>

<!-- extended dialogue -->
<script type="text/javascript" src="{% static 'dashboard/lib/jquery-dialogextend-2.02/build/jquery.dialogextend.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/viscontainer.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/js/layout.js' %}"></script> 
{% compress js %}
<script type="text/javascript" src="{% static 'dashboard/js/linkedview.js' %}"></script>
{% endcompress %}
{% endblock %}

{% block page-header %}
    {% include 'dashboard/page_header.html' %}
{% endblock %}
{% block page-body %}
    {% include 'dashboard/event_table.html' %}
    {% include 'dashboard/timeline.html' %}
    {% include 'dashboard/map.html' %}
    {% include 'dashboard/network.html' %}
    {% include 'dashboard/workbench.html' %}
    <div id="display_dialogs" style="display:none">
        {% for d in dialogs %}{% if not forloop.first %},{% endif %}{{d}}{% endfor %}
    </div>

    <div id="progressbar"><div class="progress-label">Loading...</div></div>
{% endblock %}
