{% load static %}
{% load compress %}
{% block extralib %}
<script type="text/javascript" language="javascript" src="{% static 'dashboard/lib/OpenLayers-2.13.1/OpenLayers.js' %}"></script>
<script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>

{% compress js %}
<script type="text/javascript" src="{% static 'dashboard/js/map.js' %}"></script>
{% endcompress %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/map.css' %}"> 
{% endcompress %}
{% endblock %}

<div id="map" class='map hidden'></div>                
<div id="footprint_popup" class="hidden">
    <label class="header">ID: </label><span style="width:15px"></span><label id="footprint_id"></label><br>
    <label class="header">Name: </label><span style="width:15px"></span><label id="footprint_name"></label><br>
</div>
