{% load static %}
{% load compress %}
{% block extralib %}
{% compress js %}
<script type="text/javascript" src="{% static 'dashboard/js/page_header.js' %}"></script>
{% endcompress %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/page_header.css' %}">
{% endblock %}

<div id='user_greeting'>
    <span> Hello,&nbsp; </span>
    <a href="#">BCT Unit! </a>
    <a id="logout" href="#">Log out</a>
</div>
<button type="button" id="workbench_btn" class="btn btn-primary">Workbench</button>
<nav class="blue">
    <ul class="clear">
        <li><a id="timeline_btn" href="#">Timeline</a></li>
        <li><a id="map_btn" href="#" >Map</a></li>
        <li><a href="#">Table</a>
            <ul>
                <li><a id="message_table_btn" href="#">Messages</a></li>
                <li><a id="event_table_btn" href="#">Events</a></li>
                <li><a id="person_table_btn" href="#">People</a></li>
                <li><a id="organization_table_btn" href="#">Organizations</a></li>
                <li><a id="resource_table_btn" href="#">Resources</a></li>
                <li><a id="location_table_btn" href="#">Locations</a></li>
            </ul>
        </li>
        <li><a id="network_btn" href="#">Network</a></li>
    </ul>
</nav>

