{% load static %}
{% load compress %}
{% block extralib %}
{% compress js %}
<script type="text/javascript" src="{% static 'dashboard/js/page_header.js' %}"></script>
{% endcompress %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/page_header.css' %}">
{% endblock %}
{% if user.is_authenticated %}
        <div id="user_greeting">
            <span> Hello,&nbsp; </span>
            <div style="display: inline" class="btn-group">
                <a id='username' href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.username}}! <span style="font-size:10px;">▼</span></a>
                <ul class="dropdown-menu mydropdown-menu" role="menu">
                    <li><a id="profile_btn" href="#">Profile</a> </li>
                    <li><a id="activity_btn" href="#">Activities</a> </li>
                    <li><a id='logout_btn' href="{% url 'users.views.logout' %}">Log out</a> </li>
                </ul>
            </div>
        </div>
{% else %}
<div id='user_login'>
    <nav>
        <ul>
            <li id="login">
                <a id="login-trigger" href="#">
                    Log in <span>▼</span>
                </a>
                <div id="login-content" class="content">
                    <form action='{% url "users.views.login" %}' method="post">
                        <fieldset id="inputs">
                            <input id="username" name="username" placeholder="Your user name" required>
                            <input id="password" type="password" name="password" placeholder="Password" required>
                        </fieldset>
                        <fieldset id="actions">
                            <input type="submit" id="submit" value="Log in">
                            <!-- <label><input type="checkbox" checked="checked"> Keep me signed in</label> -->
                        </fieldset>
                    </form>
                </div>
            </li>
            <li id="signup">
                <a id='signup-trigger' href="#">
                    Sign Up <span>▼</span>
                </a>
                <div id="signup-content" class="content">
                    <form action='{% url "users.views.register" %}' method="post">
                        <fieldset id="inputs">
                            <input id="username" name="username" placeholder="Your user name" required>
                            <input id="email" type="email" name="email" placeholder="Your email address" required>
                            <input id="password" type="password" name="password" placeholder="Password" required>
                        </fieldset>
                        <fieldset id="actions">
                            <input type="submit" id="submit" value="Sign up">
                        </fieldset>
                    </form>
                </div>
            </li>
        </ul>
    </nav>
</div>
{% endif %}

<nav id='viz_nav' class="blue">
    <ul class="clear">
        <li><label class='logo' ><img src="{% static 'dashboard/img/logo-tran.png' %}" style="height:37px;"></label></li>
        <li>
            <a id="datasource_btn" href="#">Dataset</a>
            <ul id="dataset-list">
                {% for name, num in datasets.items %}
                <li> <a href='#'><label><input type='checkbox' name='{{name}}' value='{{name}}'>{{name}} ({{num}} entries)</label></a> </li>
                <!-- <li><a href="#"><label style="width:180px;"><input type="checkbox" name="threadA" value="threadA"> SYNCOIN A: Bio-Wpns </label> </a></li>
                <li><a href="#"><label style="width:180px;"><input type="checkbox" name="threadB" value="threadB"> SYNCOIN B: Bathist Resurgence </label></a> </li>
                <li><a href="#"><label style="width:180px;"><input type="checkbox" name="threadC" value="threadC"> SYNCOIN C: Iranian Special Group </label></a> </li>
                <li><a href="#"><label style="width:180px;"><input type="checkbox" name="threadD" value="threadD"> SYNCOIN D: Sectarian Conflict </label></a> </li>
                <li><a href="#"><label style="width:180px;"><input type="checkbox" name="threadE" value="threadE"> SYNCOIN E: Sunni Criminal </label></a> </li>
                <li><a href="#"><label style="width:180px;"><input type="checkbox" name="threadF" value="threadF"> SYNCOIN F: Rashid IED Cell </label></a> </li> -->
                {% endfor %}
                <li><a href="#"><label style="width:180px;"><input type="checkbox" name="all" value="all"> Select All </label></a> </li>
                <li><a id="upload-data-btn" href="#">Upload Data</a> </li>
            </ul>
        </li>
        <li><a href="#">Table</a>
            <ul>
                <li><a class="viz-opts" id="dataentry_table-btn" href="#">Data Entry</a></li>
                <li><a class="viz-opts" id="person_table-btn" href="#">People</a></li>
                <li><a class="viz-opts" id="organization_table-btn" href="#">Organizations</a></li>
                <li><a class="viz-opts" id="resource_table-btn" href="#">Resources</a></li>
                <li><a class="viz-opts" id="location_table-btn" href="#">Locations</a></li>
                <li><a class="viz-opts" id="event_table-btn" href="#">Events</a></li>
            </ul>
        </li>
        <li><a class="viz-opts" id="timeline-btn" href="#">Timeline</a></li>
        <li><a class="viz-opts" id="map-btn" href="#" >Map</a></li>
        <li><a class="viz-opts" id="network-btn" href="#">Network</a></li>
        <li><a class="viz-opts" id="notepad-btn" href="#">Notepad</a></li>
    </ul>
</nav>

<div id='upload-data-dialog'>
    <form id='upload-data-form' enctype='multipart/form-data' method='POST'>
        <p class='message'></p>
        <label for='dataset-name'>Dataset Name: </label><input id='dataset-name' name='dataset-name'><br><br>
        <input type='file' name='uploadField' accept='.csv, .txt'><br/>
        <input type='submit' value='Upload'><br/><br/>
        <span>*Note: only .csv file is accepted at this moment. The file should be structured as </span><br>
        <code>line number [tab] content [tab] date</code>
    </form>
</div>
