{% load static %}
{% load compress %}
{% block extralib %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/lib/jQuery-TE_v.1.4.0/jquery-te-1.4.0.css' %}">
<script type="text/javascript" src="{% static 'dashboard/lib/jQuery-TE_v.1.4.0/jquery-te-1.4.0.min.js' %}"></script>
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/workbench.css' %}">
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{% static 'dashboard/js/workbench.js' %}"></script>
{% endcompress %}
{% endblock %}

<div id="workbench" class="hidden">
    <div class="accordion">
        <div class="task">
            <div class='accordion-header'>
                <h3>PIR 1: Identify the relationship between Jack and Mulin</h3>
            </div>
            <div class='accordion-body'>
                <div contenteditable="true" class='header'>Indicators & Warnings</div>
                <div class='evidence_div'>
                    <div contenteditable="true" class='text_viewer'></div>
                    <input type='button' id="add_evidence_btn" value='Add Evidence'></input>
                </div>
                <form class='editor_form'>
                    <textarea class="rich_editor"></textarea>
                    <input id='save_btn' type='submit' value='save'></input>
                </form>
                <input type='button' id="add_indicator_btn" value='Add Indicator'></input>
            </div>
        </div>
        <div class="task">
            <div class='accordion-header'>
                <h3>Task 2</h3>
            </div>
            <div>
                <p>
                Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                suscipit faucibus urna.
                </p>
            </div>
        </div>
        <div class="task">
            <div class='accordion-header'>
                <h3>Task 3</h3>
            </div>
            <div>
                <p>
                Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                </p>
                <ul>
                  <li>List item one</li>
                  <li>List item two</li>
                  <li>List item three</li>
                </ul>
            </div>
        </div>
        <div class="task">
            <div class='accordion-header'>
                <h3>Task 4</h3>
            </div>
            <div>
                <p>
                Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                mauris vel est.
                </p>
                <p>
                Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos.
                </p>
            </div>
        </div>
    </div>
</div>
